

body{
    background-color:  #006884;
    display: flex;
  flex-direction: column;
  
  font-family: arial;   
  top:0; 
  bottom:0; 
  right:0; 
  left:0;
}

.container{
  flex: 1 1 auto;
}

.index_header{
  border-radius: 5px;
  height:40vh;
  /*padding: 220px;
  /*background-image: url("back.jpeg");*/
  background-color:#fa9d00;
  background-size: 100%;
  background-repeat: no-repeat;
  width: auto;
  
}

.topnav{
  font-family: arial;
  overflow: hidden;
  /*background-color:#333;*/
  background: rgba(0, 0, 0, 0.0);
  position: absolute;
    top: 0px;
    right: 0px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.topnav a:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #006884;
  border: 0px;
  border-color: transparent;
  border-style: solid;
  border-radius: 5px;
}

.topnav a.active{
  /*background-color: #4CAF50;*/
  background: rgba(255, 255, 255, 0.2);
  color: #006884;
  border: 0px;
  border-color: transparent;
  border-style: solid;
  border-radius: 5px;
}

.index_wrapper{  
  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1%;
  margin-right: 1%;
  width: auto;
  height: 55vh;
}

.outbox{
    position: absolute;
    top: 9vh;
    width: 98%;
    height: auto;
}
.box{
    border-radius: 2px;
    background-color: #191919;
    top: 0px;
    margin: auto;
    width: 550px;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
}

.imgsec{
  color: black;
  background-color:inherit;
/*  border: 2px;
  border-color: black;
  border-style: solid;*/
  float: left;
  width: 250px;
  padding: 10px;
}

.textsec{
  padding: 10px;
  font-size: 37px;
  text-align: center;
  float: right;
  color: #006884;
  background-color: inherit;
  /*border: 2px;
  border-color: black;
  border-style: solid;*/
  width: 260px;
}

.lowersec{clear: both;
  /*border-width: 2px;
  border-style: solid;
  border-color: black;*/
  width: 100%;
  height: 15%;
  margin-top: 69%;
  text-align: center;

}

.lowersec a{
  font-size: 37px;
  letter-spacing: 20px;
    color: white;
}

.title{
  color: grey;
  font-size: 30px;
  
}

.fa{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.fa-google-plus:hover{
  color: #DB4437;
  font-size: 40px;
}

.fa-twitter:hover{
  color:#1DA1F2;
  font-size: 40px;
}

.fa-quora:hover{
  color:#a62100;
  font-size: 40px;
}

.fa-linkedin:hover{
  color:#0077B5;
  font-size: 40px;
}



.but{
    margin-top: 30vh; 
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-align: center;   
    }

  .button {
    /*  background-color: grey;   Green */
      border: none;
      /*color: white;*/
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin:auto;
      -webkit-transition-duration: 0.25s; /* Safari */
      transition-duration: 0.25s;
      cursor: pointer;

  }

  .button1 {
    /*background-color: #f2f2f2;*/
    background: none;
    color: #ffd083;
    border: 2px solid #fa9d00;
    border-radius: 30px;
    outline: none;
}

.button1:hover {
    background-color: #fa9d00;
    color: white;
    padding: 16px 52px;
}

.para{
  text-align: justify;
  line-height: 30px;
  padding: 10px;
  margin: auto;
  height: auto;
  width: 70%;
  color: #ffd083;
}

.footbox{
  border-radius: 5px;
  border-width: 0px;
border-style: solid;
border-color: transparent;
 width: 100%;
 background-color: #fa9d00;
 color: #006884;
 text-align: center;
padding-bottom: 2px;
padding-top: 1px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
 }

.footbox:hover{
  color:#ffd083;
  background-color: #006884;
  /*border-color:#fa9d00;*/
}

.footbox a{  
  text-decoration: none;
  font-size: 22px;
}



/********* Profile Page Starts  ********/
.profile_header{
   height: 300px;
  background-image: url("profile_back.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile_head_outer{
  width: auto;
  /*border-width: 1px;
  border-style: solid;
  border-color: white;*/
  height: 200px;
  top: 10vh;
  position: absolute;
  margin-left: 130px;
}

.profile_head_img{
  width: 150px;
  /*border-color: white;
  border-width: medium;
  border-style: solid;
  border-width: 1px;*/
  height: 189px;
  float: left;
}

.profile_head_text{
  margin-left: 190px;
color: white;
text-align: center;
}

.profile_head_social{
   margin-top: 20px;
  margin-left: 200px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.profile_head_social a{
  font-size: 32px;
  color: #f2f2f2;
  letter-spacing: 15px;
}

.wrapper{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 4%;
  margin-right: 4%;
/*background-color: #41B3A3;*/
}

/*.row{
  background-color: #E27D60;
}*/

.section_bar{
/*background-color: #E8A87C;*/
  padding-left: 15px;
  padding-right: 15px;
    width:64%;
    float: left;
}

.about_me{
  border-width: 3px;
  border-style: solid;
  border-color: #d9d9d9;
  background-color: #f2f2f2;
  margin-bottom: 30px;
  transition-duration: 0.4s;
}

.about_me:hover
{
  background-color: #d9d9d9;
}

.inner-section{
  /*background-color: #C2CAD0;*/
padding: 30px;
}

.aside_right{
  /*background-color: #E8A87C;*/
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 30%;

}

.address_bar{
  margin-bottom: 30px;
   border-width: 3px;
   border-style: solid;
   border-color: #d9d9d9;
   background-color: #f2f2f2;
   transition-duration: 0.4s;
}

.address_bar:hover{
  background-color: #d9d9d9;
}

.education_bar{
  margin-bottom: 30px;
   border-width: 3px;
   border-style: solid;
   border-color: #d9d9d9;
   background-color: #f2f2f2;
   transition-duration: 0.4s;
   }

.education_bar:hover{
  background-color: #d9d9d9;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
section:after {
    content: "";
    display: table;
    clear: both;
}

/* ----------------COntact PAge---------------------------------*/


.con_out_wrap{
  min-height: 100%;
}

.con_inner_wrap{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1%;
  margin-right: 1%;
  width: auto;
  height: 50vh;
}

.formbox{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  opacity: 0.9;
  border-radius: 2px;
}
.formbox h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.formbox input[type = "name"],.formbox input[type = "email"],.formbox input[type = "text"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.formbox input[type = "name"]:focus,.formbox input[type = "email"]:focus,.formbox input[type = "text"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.formbox input[type = "query"]{
  height: auto;
}

.formbox input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.formbox input[type = "button"]:hover{
  background: #2ecc71;
}


@media (max-width: 600px) 
{
    .textsec 
    {
      float: left;
        width: 80%;
        height: auto;
        padding-left: 10%;
    }

    .index_wrapper
    {
      margin-left:50%;
    }

    .imgsec 
     {
      width: 80%;
      height: auto;
      padding-left: 10%;
    }

    .box 
    {
     text-align: center;
    width: 60%;
    min-width: 270px;
    height: auto;
    }
    
    .but 
    {
     visibility: hidden;
    }
    }
        @media (max-width: 900px) 
        {
             .button1 
             {
               text-align: center;
                font-size: 10px;
            }
       
             .lowersec 
             {
               padding-left: 5%;
              }
        }
        @media (max-width: 800px) {
                    .aside_right, .section_bar {
                      display: block;
                      width: 100%;
                      height: auto;
                            }
                          }